* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

img {
  padding: 0px;
  transition: padding 0.3s;
}

img:hover {
  padding: 2px;
  transition: padding 0.3s;
}